*{
    margin: 0px;
    padding: 0;
}
#row1{
    height: 600px;
    width: 100%;
    background: url(../images/yogabackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;
}
.banner_section{

}
.logo{
    text-align: center;
    padding-top: 180px;
}
.logo img{
    width: 150px;
    height: 120px;
}
.logo h1{
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    padding-top: 0px;
    
}
.yoga_studies{
    text-align: center;
    color: aliceblue;
}
.yoga_studies h2{}
.menu{
    width: 70%;
    height: 100%;
    float: left;
    
}
.menu ul{
    margin-left: 500px;
    padding-top: 120px;
}
.menu ul li{
    float: left;
    list-style: none;
    line-height: 50px;
    margin-left: 30px;
    color: aliceblue;
}
/* row 1 css is done*/
/*row 2 css is strart*/
#row2{
    height: 400px;
    width: 100%;
    background: #fff;
}
.whyyoga_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}
.whyyoga_title{
    text-align: center;
     padding: 30px 0px;
     font-size: 30px;
     

}
.whyyoga_title h1{}
.whyyoga_item_all{
    padding: 50px 0px;
}
.whyyoga_item{
    width: 29%;
    float: left;
    text-align: center;
    margin-left: 30px;
}
.whyyoga_item i{
    font-size: 33px;
    padding-bottom: 20px;
    color: black;
}
.whyyoga_item h4{
    padding-bottom: 10px;
}
.whyyoga_item p{
    text-align: justify;
}
/*row 2 css done*/
/* row 3 start*/
#row3{
    height: 600px;
    width: 100%;
    background: url(../images/flexible-woman-doing-stretching-exercises.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;
}    
.advance_section{
    padding-top: 120px;
    margin-left: 800px;
}
.advance_section_title{}
.advance_section_para{
    text-align: justify;
}
.advance_section_readmore{
    border: 3px solid blanchedalmond;
    display: block;
    padding: 3px;
    margin-top: 2px;
    width: 65px;
     
}
/*row 3 ends*/
/*row 4 starts*/
#row4{
    height: 400px;
    width: 100%;
    background: #fff;
}
.why_us_section{
    padding-top: 74px;
    position: absolute;
    width: 75%;
    left: 15%;
     
}
.why_us_img{
    
}
.why_us_img img{
    height: 200px;
    width: 20%;
    padding-left: 223px;
    padding-top: 55px;
    float: left;
   
    
    
}
.why_us_title{
    padding-top: 50px;

    width: 400px;
    padding-left: 481px;
    text-align: right;
   

}
.why_us_title h1{
    font-size: 40px;
    text-align: center;
   
   
}
.why_us_title p{
    text-align: justify;
    
}
/* row  4 ends*/
/* row 5 starts*/
#row5{
    height: 630px;
    width: 100%;
    background: #fff;
    margin-bottom: 105px;
}
.our_programs_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0px;
    
}
.logo_program{
    text-align: center;
}
.logo_program img{
    height: 110px;
    width: 20%;
    padding-bottom: 38px;
   
}
.our_program_title{
    text-align: center;
}
.our_program_title h1{
    font-size: 30px;
    padding-bottom: 60px;
}
.img_container{
    width: 20%;
    float: left;
    margin-left: 37px;
}
.img_container img{
    width: 100%;
    height: 164px;
}
.img_container h3{}
.img_container h4{}
.img_container p{}
.readmore_section{
    background: rgb(114, 71, 114);
    display: block;
    padding: 3px;
    margin-top: 6px;
    width: 77px;
}
.readmore_section a{
    color: #fff;
}
/* row 5 ends*/
/*row 6 starts*/
#row6{
    height: 400px;
    width: 100%;
    background: skyblue; 
   
}
.footer_section{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 200px;   
}
.footer_item_all{}
.footer_item{
    width: 17%;
    float: left;
    margin-left: 65px;
}
 
   
    
    

.footer_item h3{}

.footer_item ul {}
.footer_item ul li{}
.footer_item{
   
    
}
.footer_item h3{}
.form_section_details{}
.footer_item{
  
   
}
.footer_item h3{}

.footer_item i{
    height: 50px;
    width: 40px;
    font-size: 18px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-top: 10px;
  
}

/*row 6 ends with css*/








